.raw
	background-color #fff
	padding .5rem
	line-height 1.6em
	font-size .875rem
	font-family font-family-code

.code
	color #b4c1d8
	padding .8rem .5rem
	font-family font-family-code
	line-height 1.6em
	font-size .875rem
	width 100%
	min-width 100%
	min-height 100%
	height 100%
	padding-left 4.6rem
	background-color code-background
	fixed top left
	overflow-y auto
	overflow-x auto
	& > .editorLines
		height 100%
		width 2.5rem
		absolute left 4rem top
		text-align center
		&:after
			font-family 'Ionicons'
			content '\f125'
			relative top .91rem
			font-size .8rem
			color #3a465b
	&::-webkit-scrollbar:horizontal
		display none
	&::-webkit-scrollbar
		width .7rem
		background-color transparent
	&::-webkit-scrollbar-thumb
		background-color darken(code-background, 20%)
		border-radius 10px
	&::-webkit-scrollbar-corner
		display none
	pre
		tab-size 3
		word-break: break-all

	& > .editor
		background-color transparent
		outline 0
		tab-size 3
		border 0
		resize none
		min-height 100%
		width 100%
		color #b4c1d8
		font-family font-family-code
		font-size .875rem
		padding-left 2rem
		-webkit-user-modify read-write-plaintext-only
	.react-syntax-highlighter-line-number
		color #3a465b
		user-select none

	.hljs
		&-subst
			color #b4c1d8
		&-function
			.hljs-title
				color #60bf9d
			.hljs-params
				color #da6c60
		&-built_in, &-selector-id, &-number
			color #78adff
		&-keyword
			color #bc90ff
		&-title, &-section, &-selector-tag, &-selector-class
			color #fea866
		&-attr
			color #5ac7d9
		&-attribute
			color #10c7af
		&-string
			color #71d8a4
		&-name
			color #da6c60
		&-literal
			color #ff6fd9

	+below('m')
		padding-left .6rem
		padding-top 4.6rem
		& > .editorLines:after
			top 4.6rem

p
	code
		margin 0 .3em

.message
	code
		background-color rgba(0,0,0,.06)
