.sidebar
	width 4rem
	background-color #151e2b
	height 100%
	display block
	fixed top left
	z-index 3000
	ul
		li
			width 4rem
			text-align center
			padding 1.2rem 0
			position relative
			span
				absolute left 4.6rem top .64em
				font-size .825rem
				background-color rgba(26,29,32,.9)
				border-radius 4px
				padding 8px 14px
				z-index 12000
				min-width 7rem
				white-space nowrap
				text-align left
				display none
				b
					display block
					line-height 1.4em
					color #FFF
					font-weight 400
					font-size .925rem
				kbd
					line-height 1.4em
					color #DDE2EC
			&.logo
				padding 1.6rem 0 1.6rem 0
				background-color darken(#151e2b, 20%)
				img
					width 2.4em
					pointer-events none
					user-select none
			&.pull-down
				absolute bottom
			a
				color #54627b
				font-size 1.7rem
				transition color .14s ease
				i
					width 2rem
				&:hover
					color #b4c1d8
					& + span
						display block
			&.disabled
				a
					user-select none
					pointer-events none
					cursor default !important
					opacity .67
					color #3a465b !important
	+below('m')
		width 100%
		height 4rem
		.logo
			height 4rem
			padding .4rem 0 !important
			width 4rem
			img
				width 2.2em
		ul
			li
				display inline-block
				padding 0
				line-height 4rem
				vertical-align top
				position relative !important
				width 3.4rem
				&.disabled
					display none
				a
					font-size 1.6rem
			span
				left 0 !important
				top 4.6rem !important
				line-height 1rem
				kbd
					display none
